# Libraries

In [29]:
import requests
from time import sleep

import pandas as pd
import numpy as np

In [8]:
def api_json():
    #link of the API
    link = 'https://api.wheretheiss.at/v1/satellites/25544'
    
    #retrieving the JSON
    json = requests.get(link).json()
    
    #getting columns and values from the JSON
    columns = json.keys()
    values = json.values()
    
    #returning the JSON, the columns and the values
    return json, columns, values

api, columns, values = api_json()

# Creating Database

In [36]:
def create_dataset():
    database = open("dataset.txt", "a")

    counter = 0
    for column in columns:
        if counter == len(columns) - 1:
            database.write(column + '\n')
        else:
            database.write(column + ',')
        counter = counter + 1
    database.close()

In [32]:
def writing_values(n_rows, interval_seconds):
    counter = 0
    for i in range(n_rows):
        api, columns, values = api_json()

        for value in values:
            database = open("dataset.txt", "a")

            if counter == len(values) - 1:
                database.write(str(value) + '\n')
                pass
            else:
                database.write(str(value) + ',')

            counter = counter + 1
        counter = 0
        sleep(interval_seconds)
    database.close()

In [37]:
create_dataset()

In [38]:
writing_values(5, 3)

# Checking the CSV with Pandas

In [39]:
df = pd.read_csv('dataset.txt')
df

,name,id,latitude,longitude,altitude,velocity,visibility,footprint,timestamp,daynum,solar_lat,solar_lon,units
0,iss,25544,22.763353,23.096429,419.601745,27587.541694,daylight,4505.436763,1633798930,2.459497e+06,-6.536658,281.249076,kilometers
1,iss,25544,22.619118,23.224931,419.596044,27587.480217,daylight,4505.407742,1633798933,2.459497e+06,-6.536671,281.236573,kilometers
2,iss,25544,22.426613,23.395809,419.588715,27587.397687,daylight,4505.370434,1633798937,2.459497e+06,-6.536689,281.219903,kilometers
3,iss,25544,22.233884,23.566171,419.581700,27587.314513,daylight,4505.334723,1633798941,2.459497e+06,-6.536706,281.203234,kilometers
4,iss,25544,22.040940,23.736020,419.575001,27587.230694,daylight,4505.300623,1633798945,2.459497e+06,-6.536724,281.186564,kilometers